.container__menu-bar > nav > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar > nav > ul > li {
  margin-right: 20px;
  list-style: none;
}

.container__menu-bar > nav > ul > li > a {
	text-decoration: none;
	padding: 5px;
	color: rgb(7, 7, 7);
	font-family: 'Segoe UI';
}

.container__menu-bar > nav > ul > li > a:hover {
	color: blue;
	font-weight: 600;
}
